@media (min-width: 280px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    top: 70px;
    right: -100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0rem;
    background-color: #4171d0;
    transition: 0.3s;
    width: 25%;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-link {
    color: #fff;
    font-size: 13px;
  }
  .nav-menu.active {
    right: 0;
  }

  /* header */
  header {
    padding: 1rem 16px;
    margin-bottom: 0.5rem;
  }
  .nav-branding {
    font-size: 22px;
  }

  .login {
    display: none;
  }
  .hamburger {
    margin-right: 0rem;
  }
  .grid-2cols {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .home-section {
    padding: 1rem 16px;
  }
  .home-description h5 {
    font-size: 19px;
    margin-bottom: 25px;
  }
  .home-description h2 {
    font-size: 31px;
    line-height: 39px;
    margin-bottom: 15px;
  }
  .home-description p {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 25px;
  }
  .cta-shopNow {
    font-size: 11px;
  }
  .cta {
    padding: 10px 7px;
  }
  .home-img {
    width: 247px;
    height: 267px;
  }
  /*best service  */
  .best-service {
    padding: 1rem 16px;
    margin-bottom: 2rem;
  }
  .best-heading p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
  .best-heading h2 {
    font-size: 24px;
    margin-bottom: 17px;
  }
  .best-siscription {
    flex-direction: column;
  }
  .more-headidng {
    font-size: 13px;
  }
  .more-subheading {
    font-size: 11px;
  }
  .more-icon {
    width: 35px;
    height: 35px;
  }
  /* minimalist */
  .minimalist-content {
    padding: 1rem 16px;
    margin-bottom: 1rem;
  }
  .text-box h5 {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  .text-box p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .minimalist-items {
    gap: 30px;
  }
  .minimalist-items ul li {
    font-size: 9px;
    line-height: 1.5;
  }
  .icons {
    font-size: 19px;
  }
  .item-icon {
    gap: 2px;
  }
  /* product */
  .product {
    padding: 1rem 16px;
    margin-bottom: 2rem;
  }
  .product-title {
    flex-direction: column;
    gap: 4px;
    margin-bottom: 1rem;
  }
  .product-title h4 {
    font-size: 25px;
  }
  .product-title p {
    font-size: 12px;
  }
  .product-subtitles ul li {
    font-size: 12px;
    padding: 7px 6px;
  }
  .grid-4cols {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    margin-bottom: 2rem;
  }
  .card-text h5 {
    font-size: 16px;
    margin-bottom: 3px;
  }
  .card-text p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .card-img {
    margin-bottom: -10px;
  }
  .card-end p {
    margin-bottom: 0px;
  }
  .card-btn {
    font-size: 13px;
  }
  /* our custoomer */
  .customer {
    padding: 1rem 16px;
    margin-bottom: 2rem;
  }
  .customer-heading h2 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  .customer-heading p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
  }
  .customer-discription {
    flex-direction: column;
    gap: 2rem;
  }
  .cicle1 {
    width: 12rem;
    height: 12rem;
  }
  .customer-text h5 {
    font-size: 18px;
  }
  .customer-text h6 {
    font-size: 11px;
    margin-bottom: 1rem;
  }
  .customer-text p {
    font-size: 10px;
    line-height: 1.3;
  }
  .customer-text {
    padding: 13px 12px 14px 15px;
  }
  .cust-dot {
    width: 7px;
    height: 14px;
  }
  .cust-icon {
    font-size: 15px;
  }
  .customer-dots {
    gap: 6px;
  }
  /* footer */
  footer {
    padding: 1rem 16px;
    margin-bottom: 2rem;
  }
  .footer-content {
    flex-direction: column;
    gap: 31px;
  }
  .footer-title {
    font-size: 27px;
    padding-bottom: 1px;
  }
  .footer-socialIcon {
    font-size: 23px;
  }
  .footer-items h3 {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .footer-items {
    gap: 1rem;
  }
  .footer-items ul li {
    font-size: 10px;
    line-height: 1.4;
  }
  .footer-socialMedia {
    margin-top: 1.5rem;
  }
  .footer-info p {
    font-size: 10px;
  }
  .footer-content {
    margin-bottom: 2rem;
  }
}
@media (min-width: 375px) {
  .cta {
    padding: 10px 22px;
  }
  .cta-shopNow {
    font-size: 13px;
  }
  .home-img {
    width: 343px;
    height: 267px;
  }
  .best-heading h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .best-heading p {
    font-size: 20px;
  }
  .more-headidng {
    font-size: 15px;
  }
  .more-subheading {
    font-size: 13px;
  }
  .text-box h5 {
    font-size: 25px;
    margin-bottom: 0.5rem;
  }
  .text-box p {
    font-size: 15px;
  }
  .minimalist-items ul li {
    font-size: 14px;
  }
  .item-icon {
    gap: 18px;
  }
  .product-title h4 {
    font-size: 27px;
  }
  .product-title p {
    font-size: 16px;
  }
  .product-subtitles ul li {
    font-size: 14px;
    padding: 9px 11px;
  }
  .card-text {
    padding: 29px;
  }
  .card-img {
    margin-bottom: 6px;
  }
  .card-text h5 {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .card-text p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .card-end p {
    margin-bottom: 0px;
  }
  .grid-4cols {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .customer-heading h2 {
    font-size: 29px;
    margin-bottom: 6px;
  }
  .customer-heading p {
    font-size: 20px;
  }
  .customer-text {
    padding: 11px 74px 14px 15px;
  }
  .customer-text p {
    font-size: 11px;
    line-height: 1.3;
  }
  .customer-text h5 {
    font-size: 20px;
  }
  .customer-text h6 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer-items h3 {
    font-size: 17px;
    margin-bottom: 8px;
  }
  .footer-items ul li {
    font-size: 10px;
    line-height: 1.6;
  }
  .footer-info p {
    font-size: 14px;
  }
}
@media (min-width: 667px) {
  .login {
    display: inline-block;
    display: flex;
    gap: 1rem;
  }
  .cta {
    padding: 3px 19px;
  }
  .cta-login {
    font-size: 18px;
  }
  .header-icon p {
    font-size: 18px;
  }
  .login-icon-1 {
    font-size: 23px;
  }
  .login-icon-2 {
    font-size: 14px;
  }
  .grid-2cols {
    grid-template-columns: 1fr 1fr;
    gap: 27px;
  }
  .home-section {
    padding: 4rem 22px;
    margin-bottom: 0rem;
  }
  .home-img {
    width: 318px;
    height: 311px;
  }
  .cta-shopNow {
    font-size: 16px;
  }
  .cta {
    padding: 9px 19px;
  }
  .best-siscription {
    flex-direction: row;
  }
  .more-headidng {
    font-size: 10px;
  }
  .best-siscription {
    gap: 10px;
  }
  .more-subheading {
    font-size: 10px;
  }
  .minimalist-items {
    gap: 12px;
  }
  .minimalist-items ul li {
    font-size: 11px;
  }
  .item-icon {
    gap: 8px;
  }
  .product-title {
    flex-direction: row;
  }
  .product-title p {
    font-size: 13px;
  }
  .product-title h4 {
    font-size: 24px;
  }
  .product-subtitles ul li {
    font-size: 15px;
    padding: 9px 10px;
  }
  .grid-4cols {
    grid-template-columns: 1fr 1fr;
  }
  .customer-discription {
    flex-direction: row;
    gap: 5rem;
  }
  .customer-text {
    padding: 32px 74px 33px 22px;
  }
  .customer-text p {
    line-height: 1.5;
  }
  .customer-text h6 {
    font-size: 17px;
    margin-bottom: 11px;
  }
  .customer-text h5 {
    font-size: 23px;
  }
  .footer-content {
    flex-direction: row;
    gap: 74px;
  }
  .footer-items ul li {
    font-size: 13px;
    line-height: 1.8;
  }
  .footer-items h3 {
    font-size: 19px;
    margin-bottom: 8px;
  }
  .footer-items {
    gap: 2rem;
  }
  .footer-title {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .footer-socialIcon {
    font-size: 42px;
    margin-top: 15px;
  }
  .footer-socialIcon {
    font-size: 30px;
    margin-top: 6px;
  }
  .footer-info p {
    font-size: 21px;
  }
  .footer-content {
    margin-bottom: 4rem;
  }
  header {
    padding: 1rem 25px;
  }
}
